.caption .single-line {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table .result-list img {
    height: 60px;
    width: 60px;
}

.static img {
    height: 300px;
    width: 300px;
}