body { margin: 0px; }
hr { clear: both; }
select { width: 100% }
a { color: black; }

#wrap { margin: 8px; }
#settings > div {
    width:45%;
    padding:8px;
    margin:8px;
    float:left;
}

#control {
    float: right;
    padding-top: 8px;
}

/* Logging */
#log { float:left; }
#log > span { display: block; }
.info { color: blue; }
.warn { color: orangered; }
.error { color: red; }
.success { color: green; }
