<%- partial('partials/search')%>

<div class="row">
    <div class="col-md-6">
        <!-- Artist results -->
        <%- partial('partials/imageList', {title: 'Artists', name: 'artist', simple: true, fixedImageClass: ''})%>
    </div>
    <div class="col-md-6">
        <!-- Album results -->
        <%- partial('partials/imageList', {title: 'Albums', name: 'album', simple: true, fixedImageClass: ''})%>
    </div>
</div>

<!-- Track Results -->
<div class="panel panel-success" id="track-results">
    <div class="panel-heading">
        <h3 class="panel-title">Tracks<span class="badge pull-right result-count"></span></h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>Track Name</th>
                    <th>Artist Name</th>
                    <th>Album Name </th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="result-list">
                </tbody>
            </table>
        </div>

    </div>
    <div class="panel-footer">
        <%- partial('../partials/pagination')%>
    </div>
</div>

<script>
    $(function(){
        document.$$.bindSearch(function(query){
            $('#track-results').spotify('track', query, {artwork:60, template: 'trackRow'});
            $('#album-results').spotify('album', query, {limit: 3});
            $('#artist-results').spotify('artist', query, {limit: 3});
        });
    });
</script>